<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="App\\Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/*/src/Handler</directory>
                <directory suffix=".php">./src/App/src/Middleware/Error</directory>
                <directory suffix=".php">./src/*/src/Command</directory>
                <file>./src/App/src/ConfigProvider.php</file>
                <file>./src/Console/src/ConfigProvider.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./public/coverage" />
        <log type="coverage-clover" target="./public/coverage/coverage.xml"/>
    </logging>

</phpunit>
